@model IEnumerable<CourseManagement.ViewModels.SocialMediaVM>

@{
    ViewData["Title"] = "Social Media List";
}

<section>
    <div class="mt-5 col">
        <h1>Social Media List</h1>
    </div>
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
    <div class="mt-5 col">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Icon</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            @if (item.Icon != null)
                            {
                                <img src="@item.Icon" alt="@item.Name" style="width: 50px; height: 50px;" />
                            }
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</section>




